body {
    font-family: Arial, sans-serif;
}
#image-container {
    margin-top: 20px;
    width: 350px;
    height: 350px;
    background-color: gray;
}
#upload-section {
    margin-bottom: 20px;
}
#image-preview {
    max-width: 350px;
    height: auto;
}
.tags {
    margin-top: 10px;
    font-size: 16px;
}
